.aboutheading{
    height: 10%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutheading a{
    color: #fff;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.para{
    text-align: justify;
    
    margin-top: 3%;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.para p{
    line-height: 20px;
    text-align: justify !important;
    
}